body {
  background-color: #232a5c;
}


.call-for-papers-container {
  padding-right: 80px;
  padding-top: 100px;
  background: #080531;
  border-radius: 12px;
  max-width: 1100px;
  margin: 36px auto;
  box-shadow: 0 0 20px rgba(0,0,0,0.06);
  font-family: Arial, sans-serif;
}

.call-title {
  text-align: center;
  color: #2440c4;
  font-weight: bold;
  font-size: 2.4rem;
  margin-bottom: 28px;
}

.call-desc {
  text-align: center;
  font-size: 1rem;
  color: #fff;
  margin-bottom: 28px;
}

.call-topic-columns {
  display: flex;
  justify-content: space-between;
  gap: 36px;
  margin-bottom: 30px;
}

.call-column {
  flex: 1;
  min-width: 215px;
}

.call-column h4 {
  color: #4444c4;
  font-weight: bold;
  margin-bottom: 12px;
  font-size: 1.07rem;
}

.call-column ul {
  padding-left: 22px;
  margin-top: 0;
}

.call-column li {
  color: #fff;
  font-size: .97rem;
  margin-bottom: 6px;
}

.call-contact {
  text-align: center;
  margin-top: 20px;
  font-size: 1rem;
  color: #fff;
}

.call-contact a {
  color:   #8683b9;
  text-decoration: underline;
}
