body {
  background-color: #232a5c;
}

.program-committee-container {
  padding: 36px;
  background: #080531;
  border-radius: 12px;
  max-width: 1100px;
  margin: 32px auto;
  box-shadow: 0 0 30px rgba(0,0,0,0.07);
  font-family: Arial, sans-serif;
}

.committee-title {
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 28px;
}

.committee-content {
  display: flex;
  gap: 56px;
  justify-content: center;
}

.committee-left,
.committee-right {
  flex: 1;
}

.committee-heading {
  color: #4444c4;
  font-weight: bold;
  margin-bottom: 6px;
  margin-top: 20px;
  font-size:25px;
}

.committee-left ul,
.committee-right ul {
  margin-top: 0px;
  margin-bottom: 16px;
  padding-left: 18px;
}

.committee-left p,
.committee-right p {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 1rem;
  color: #fff;
}

.committee-left li,
.committee-right li {
  margin-bottom: 7px;
  font-size: .98rem;
  color: #fff;
}
