body {
  background-color: #232a5c;
}

.journal-publication-container {
  background-color: #080531;
  border-radius: 14px;
  box-shadow: 0 0 16px rgba(0,0,0,0.06);
  padding: 32px 40px 24px 40px;
  max-width: 1100px;
  margin: 28px auto 0 auto;
  font-family: Arial, sans-serif;
}

.journal-title {
  text-align: center;
  font-size: 60px;
  font-weight: 700;
  letter-spacing: .5px;
  line-height: 1.1;
  color:#fff;
  margin-top: 10px;
  padding-top: 10px;
}

.journal-desc {
  font-size: 1.02rem;
  color:#fff;
  margin-bottom: 16px;
  text-align: justify;
}

.journal-links {
  margin-bottom: 12px;
  font-size: 1rem;
  color:#fff;
}

.journal-links a{
    line-height: 40px;
}

.journal-link {
  color: #386fe9;
  text-decoration: underline;
  margin-right: 7px;
  font-weight: 500;
}

hr {
  margin: 30px 0 24px 0;
  border: none;
  border-top: 1.2px solid #eaeaea;
}

.journal-subtitle {
  color:#fff;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 8px;
}

.highlight-box {
  background: #434adf;
  color:#fff;
  padding: 2.5px 7px;
  border-radius: 4px;
  font-size: .98rem;
  margin-left: 2px;
  font-weight: 500;
}

.ready-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  margin: 36px auto 0 auto;
  background: #434adf;
  color: #fff;
  border-radius: 13px;
  padding: 32px 28px;
}

.ready-text {
  font-size: 1.31rem;
  font-weight: bold;
  letter-spacing: 0.2px;
}

.register-btn {
  background: #080531;
  color: #fff;
  border: none;
  border-radius: 7px;
  padding: 13px 35px;
  font-size: 1.1rem;
  font-weight: 500;
  cursor: pointer;
}
